<header class="mt-5">
	@await Html.PartialAsync("_slider")
</header>

<br />
<br />

<div class="container shadow" style="margin-bottom: 100px; padding: 10px 14px;">
	<div class="form-group" style="display: inline;">
		<form action="/home/index" class="form-inline">
			<select name="fromLocation" class="form-select form-select-lg mb-3" data-val-required="FromLocation field is required."  asp-items="@ViewBag.Cities" style="width: 505px; height:53px;">
				<option selected disabled>FromLocation</option>
			</select>
			<i class="fas fa-long-arrow-alt-right" style="padding: 0px 20px; font-size: 22px;"></i>
			<select name="toLocation" class="form-select form-select-lg mb-3" data-val-required="ToLocation field is required."  asp-items="@ViewBag.Cities" style="width: 505px; height:53px;">
				<option selected disabled>ToLocation</option>
			</select>
			<input name="dateTime" class="form-control" type="datetime-local" data-val-required="DateTime field is required." data-val="true" />
			<br />
			<br />
			<button  asp-action="Journey" type="submit" class="btn btn-danger btn-lg btn-block">Find Journey</button>
		</form>
	</div>
</div>